.alt-header {
  padding: 0px 25px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header_column {
  width: 33%;
}

.alt-header_title {
  font-size: 28px;
  font-weight: 600;
}

.alt-header_column:first-child {
  margin-right: auto;
}

.alt-header_column:nth-child(2) {
  text-align: center;
}

.alt-header_column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.settings-list2 {
  margin-top: 30px;
}

.alt-header_column span:last-child {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}
